{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    {% include 'admin/_nav_admin.html.twig' %}
    <h1>Liste des évènements</h1>
    <a class="btn ml-1 mb-3" href="{{ path('event_new') }}">Créer un évènement</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lieu</th>
                <th>Description</th>
                <th>Image</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Durée</th>
                <th>Date création évènement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.eventImgName }}</td>
                <td>{{ event.startDate ? event.startDate|date('d-m-Y') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('d-m-Y') : '' }}</td>
                <td>{{ event.duration }}</td>
                <td>{{ event.createdAt ? event.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun évènement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination d-flex justify-content-center my-5">
        {{ knp_pagination_render(events) }}
    </div>
{% endblock %}
