{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Liste des évènements</h1>
    <a class="btn ml-1 mb-3" href="{{ path('event_new') }}">Créer un évènement</a>
    <a class="btn mb-3" href="{{ path('admin_index') }}">Pas d'accueil</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>Date du spectable</th>
                <th>Date création évènement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.performDate ? event.performDate|date('Y-m-d') : '' }}</td>
                <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun évènements trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
